{% load staticfiles %}{% load url from future %}<!doctype html>
<html lang="en">
  <head>{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% block page_title %}{% endblock %} | {{ SITE_NAME }}{% endblock %}</title>

    {% block style %}
      {% block generic_css %}
        <link href="{% static 'generic/css/global.css' %}" rel="stylesheet" />
        <link href="{% static 'generic/css/screen.css' %}" media="screen" rel="stylesheet" />
      {% endblock %}
      {% block font_awesome %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      {% endblock %}
    {% endblock %}
     <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  {% endblock %}</head>
  <body{% block body_attributes %} class="{% block body_class %}{% endblock %}"{% endblock %}>
    {% block body %}
      <div id="container">
        <header>
          {% block header %}
            {% block messages %}
              {% include "generic/_messages.html" %}
            {% endblock %}
          {% endblock %}
        </header>
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
        <footer>
          {% block footer %}
            <ul>
              {% if user.is_authenticated and user.is_staff %}
                {% if user.is_staff %}
                  <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                {#<li><a href="{% url 'logout' %}">Log out</a></li>#}
              {% endif %}
            </ul>
          {% endblock %}
        </footer>
      </div>
    {% endblock %}
    {% block javascript %}{# at the end for faster page loading #}
      {% block jquery %}
        {# Grab jQuery from CDN. Fall back to local if necessary #}
        <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script>
          if(!window.jQuery){
            document.write(
              '<script src="{% static 'generic/js/jquery-1.7.2.min.js' %}"><\/script>'
            );
          }
        </script>
      {% endblock %}
    {% endblock %}
  </body>
</html>
